{% extends 'base.html' %}
{% block body %}
    <div class="row" >
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">

                    <div class="col-xs-2"></div> <img class="col-xs-8" src="/media/NGO/flags/{{ ngo.latin_name }}.jpg">
                    <div class="col-xs-12" style="text-align: center;font-size: 40px">{{ ngo.persian_name}}</div>
                </div>
            </div>
            {% include 'NGO/gallery.html' %}
            {% include 'components/links.html' %}
        </div>
        <div class="col-md-8">

            <div class="panel panel-primary">
                <div class="panel-heading" id="panel-header" dir="rtl">آخرین اخبار</div>
                <div class="panel-body">
                    <table border="0" class="col-md-12">
                        <tbody>
                            {% for news in r_news %}
                                {% include 'components/r_news.html' %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary">
                <div dir="rtl" id="panel-header" class="panel-heading"> درباره {{ngo.persian_name}}
                 {% if can_edit %}

                     <a href="#summernote" id="toggle-country" style="color: #ffffff">(ویرایش)</a>
                 {% endif %}
                </div>
                <div class="panel-body">
                    {% autoescape off %}
                        <div id="summernote" dir="rtl">{{ ngo.about_country }}</div>
                    {% endautoescape %}
                    {% if can_edit %}
                        <br>
                        <a href="#" class="btn btn-primary" style="float: right;visibility: hidden" onclick="send('{{ ngo.latin_name }}','country')" id="submit">ثبت</a>
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-primary">
                <div dir="rtl" id="panel-header" class="panel-heading">درباره انجمن دوستی
                 {% if can_edit %}

                     <a href="#summernote" id="toggle-country" style="color: #ffffff">(ویرایش)</a>
                 {% endif %}
                </div>
                <div class="panel-body">
                    {% autoescape off %}
                        <div id="summernote" dir="rtl">{{ ngo.about_NGO }}</div>
                    {% endautoescape %}
                    {% if can_edit %}
                        <br>
                        <a href="#" class="btn btn-primary" style="float: right;visibility: hidden" onclick="send('{{ ngo.latin_name }}','country')" id="submit">ثبت</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}