<div class="col-md-4 hidden-xs">
    {% include 'components/links.html' %}
</div>
<div class="col-md-8 col-xs-12" id="news_container">
    <div class="panel panel-primary" >
        <div class="panel-heading" id="panel-header">
            <span class="glyphicon glyphicon-globe"></span>
            <div style="float: right">اخبار و رویداد ها</div>
        </div>
        <div class="panel-body">
            <table border="0" class="col-md-12" id="table">
                <tbody>
                    {% for news in r_news %}
                        {% include 'components/r_news.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-xs-12 hidden-lg hidden-md hidden-sm">
    <div class="panel panel-primary">
        <div class="panel-heading" id="panel-header"><span class="glyphicon glyphicon-filter"></span><div style="float: right">دسته بندی مطالب</div></div>
        <div class="panel-body">

            <div class="sidebar mano" width="250" >
                <ul class="nav nav-sidebar" dir="rtl" id="list">
                    <li><a href="news/as">آسیا</a></li>
                    <li><a href="news/na">آمریکای شمالی</a></li>
                    <li><a href="news/sa">آمریکای جنوبی</a> </li>
                    <li><a href="news/eu">اروپا</a></li>
                    <li><a href="news/af">آفریقا</a></li>
                    <li><a href="news/au">استرالیا و اقیانوسیه</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 hidden-lg hidden-md hidden-sm">
    {% include 'components/links.html' %}
</div>
